<!DOCTYPE html>
<html>
	<head>
		<title>Bank Form</title>
	</head>

	{% include 'app/base.html' %}

    <style>
      .form-signin {
        max-width: 550px;
        margin: 0 auto;
      }

      label {
        font-size: 16px;
        float: left;
      }
    </style>

	<body>
    <div class="container text-center">
        <form class="form-inline" id="login_form" method="post" action="/set/checkout/" enctype="multipart/form-data">
          {% csrf_token %}
          {% load bootstrap %}
          <div class="form-group">
            <h2> Vendor Information <h2>
            <label style="font-size: 16px;">Vendor Name:</label>
            <input type="text" name="vendor name" class="form-control" placeholder="Wes" value="Wes" required autofocus>

            <br>

            <h2> User Information <h2>


            <label>Cardholder Name:</label>
            <input type="text" name="name" class="form-control" placeholder="David Leonard" value="David Leonard" required autofocus>

            <br>
            
            <label>Card Type:</label>
            <input type="text" name="card type" class="form-control" placeholder="Visa" value="Visa" required autofocus>
            
            <br>

            <label>Card Number:</label>
            <input type="text" name="card number" class="form-control" placeholder="0123 4567 8901 2345" value="0123 4567 8901 2345" required autofocus>

            <br>

            <label>Security Code:</label>
            <input type="text" name="security code" class="form-control" placeholder="123" value="123" required autofocus>

            <br>

            <button class="btn btn-lg btn-primary btn-block" type="submit">Confirm</button>
            <input type="hidden" name="submit" value="submit" />
          </form>
        </div>
    </div>
	</body>
</html>